div#claim-dialog-content {
  padding: 21px;
  background: #0e0304;
  border-radius: 20px;
  box-shadow: rgb(45 45 45) 0px 0px 14px;
  font-size: 14px;
  line-height: 1.5;
  color: #d8d8d8;
}

h1#claim-title {
  margin: 0;
}

div#connect-button {
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #a34520;
  border-radius: 20px;
  font-weight: 400;
  color: #eb5c20;
  padding: 0 30px;
  line-height: 30px;
  margin-right: 12px;
  cursor: pointer;
}

button#claim-button {
  background-color: #eb5c20;
  color: #fff;
  border: unset;
  border-radius: 999px;
  width: 200px;
  height: 40px;
  cursor: pointer;
  margin-right: 12px;
  margin-bottom: 12px;
  font-size: 16px;
}