/* * {
	margin: 0;
	box-sizing: border-box;
} */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

.clip-path-hover {
	/* background-color: #2f3238; */
	color: #f5f5f5;
}

.clip-path-hover .small {
	font-size: 1rem;
	margin-top: 1em;
}
.clip-path-hover .container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 4rem 2rem;
}
.clip-path-hover header {
	text-align: center;
	padding-bottom: 3rem;
}
.clip-path-hover h1 {
	font-size: 2.6rem;
	line-height: 1.2em;
	padding-bottom: 1rem;
	font-weight: 600;
}
.clip-path-hover svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
clipPath circle {
	transform-origin: 50% 50%;
	transform: scale(0);
	transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.clip-path-hover text {
	font-size: 1.1rem;
	text-transform: uppercase;
	text-anchor: middle;
	letter-spacing: 1px;
	font-weight: 600;
}
.clip-path-hover .svg-text {
	fill: #b5b5b6;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	line-height: 1.618;
	font-weight: 600;
}
.clip-path-hover .svg-masked-text {
	fill: rgba(255, 255, 255, 1);
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	line-height: 1.618;
	font-weight: 600;
}
.clip-path-hover image {
	transform: scale(1.1);
	transform-origin: 50% 50%;
	transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.clip-path-hover .items {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.clip-path-hover .item {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	width: 300px;
	height: 200px;
	margin: 5px;
	cursor: pointer;
	background-color: #3b3e46;
	border-radius: 2px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.02),
		inset 0 0px 0px 1px rgba(0, 0, 0, 0.07);
	transform: translateZ(0);
}
.clip-path-hover .item:hover circle,
.clip-path-hover .item:hover image {
	transform: scale(1);
}
.clip-path-hover button {
	width: 12px;
	height: 12px;
	border: none;
	appearance: none;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
	border-radius: 1px;
}
.clip-path-hover button.dark {
	background-color: #2f3238;
}
.clip-path-hover button.light {
	background-color: #f9f9f9;
}
.clip-path-hover .options {
	position: absolute;
	top: 1rem;
	right: 1rem;
}
.clip-path-hover .options button {
	margin-left: 0.5rem;
}
.clip-path-hover .light {
	background-color: #f9f9f9;
	color: #1a1a1a;
}
.clip-path-hover .light p {
	color: rgba(26, 26, 26, 0.5);
}
.clip-path-hover .light .item {
	background: #f5f5f5;
}
.clip-path-hover .light .svg-text {
	fill: rgba(0, 0, 0, 0.1);
}

.backers-title {
	font-family: "Roboto", sans-serif;
	text-align: center;
	padding-left: 0.1em;
	z-index: 1;
	font-size: 7em;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	line-height: 1.1;
	padding-bottom: 50px;
}
