@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@700&family=Roboto:wght@300;500&display=swap");
/* Dual Sliding Panel Media Queries */
.panel-container-1 {
	overflow: hidden;
	color: white;
}
.panel-container-2 {
	overflow: hidden;
	color: white;
	margin-bottom: 20px;
}
.panels__headline {
	margin-bottom: 20px;
	text-align: center;
	font-family: "Arvo", sans-serif !important;
}
.panels p {
	margin: 0;
	font-family: "Karla", sans-serif !important;
	text-align: center;
}

/* video */
.video-container-main {
	width: 90%;
}

.videoContainer {
	width: 100%;
	padding-bottom: 10px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
	/* Styles */
	.panels__headline {
		font-size: 28px;
	}

	.panels p {
		font-size: 16px;
	}
	.panel-container {
		height: 150vw;
	}
	/* .panels__side {
		height: 150vw;
	} */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
	/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
	/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 640px) and (max-device-width: 1280px) {
	/* Styles */
	.panels__headline {
		font-size: 24px;
	}

	.panels p {
		font-size: 14px;
	}
	.panel-container {
		height: 35vw;
	}
	.panels__side {
		height: 35vw;
	}
	.videoContainer {
		height: 175px;
	}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1280px) {
	/* Styles */
	.panels__headline {
		font-size: 30px;
	}

	.panels p {
		font-size: 22px;
	}
	.panel-container {
		height: 35vw;
	}
	.panels__side {
		height: 35vw;
	}

	.videoContainer {
		height: 250px;
	}
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
	/* Styles */
	.panels__headline {
		font-size: 50px;
	}

	.panels p {
		font-size: 28px;
	}

	.panel-container {
		height: 35vw;
	}
	.panels__side {
		height: 35vw;
	}

	.videoContainer {
		height: 350px;
	}
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
	/* Styles */
}
