@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@700&family=Roboto:wght@300;500&display=swap");
/* Dual Sliding Panel Media Queries */
.panel-container-1 {
	overflow: hidden;
	color: white;
}
.panel-container-2 {
	overflow: hidden;
	color: white;
	margin-bottom: 20px;
}
.panels__headline {
	margin-bottom: 20px;
	text-align: center;
	font-family: "Arvo", sans-serif !important;
}
.panels p {
	margin: 0;
	font-family: "Karla", sans-serif !important;
	text-align: center;
}

/* video */
.video-container-main {
	width: 90%;
}

.videoContainer {
	width: 100%;
	padding-bottom: 10px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width: 640px) {
	/* Styles */
	.panels__headline {
		font-size: 28px;
	}

	.panels p {
		font-size: 16px;
	}
	/* .panel-container {
		height: 150vw;
	} */
	/* .panels__side {
		height: 150vw;
	} */
	.videoContainer {
		height: 200px;
	}
	.exchange-title {
		font-size: 1.75rem;
	}
	.exchange-content {
		font-size: 0.625rem;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
	/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
	/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 640px) and (max-device-width: 992px) {
	/* Styles */
	.panels__headline {
		font-size: 24px;
	}

	.panels p {
		font-size: 14px;
	}
	.panel-container {
		height: 35vw;
	}
	.panels__side {
		height: 35vw;
	}
	.videoContainer {
		height: 175px;
	}
	.exchange-title {
		font-size: 1.25rem;
	}
	.exchange-content {
		font-size: 0.5rem;
	}
}

@media only screen and (min-device-width: 992px) and (max-device-width: 1280px) {
	/* Styles */
	.panels__headline {
		font-size: 24px;
	}

	.panels p {
		font-size: 14px;
	}
	.panel-container {
		height: 35vw;
	}
	.panels__side {
		height: 35vw;
	}
	.videoContainer {
		height: 175px;
	}
	.exchange-title {
		font-size: 1.25rem;
	}
	.exchange-content {
		font-size: 0.5rem;
	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1280px) {
	/* Styles */
	.panels__headline {
		font-size: 30px;
	}

	.panels p {
		font-size: 22px;
	}
	.panel-container {
		height: 35vw;
	}
	.panels__side {
		height: 35vw;
	}

	.videoContainer {
		height: 220px;
	}
	.exchange-title {
		font-size: 1.75rem;
	}
	.exchange-content {
		font-size: 0.625rem;
	}
	/* learn more button */
	.learn-more-class button.learn-more {
		width: 12rem;
		/* height: auto; */
	}
	.jump-button-container .circle {
		width: 2.5em;
		height: 2.5rem;
		/* border-radius: 50%; */
		border-radius: 1.9rem;
	}
	.jump-button-container .circle .jumparrow {
		left: 0.5rem;
		top: 0.5rem;
		font-size: 25px;
	}
	.jump-button-container .button-text {
		margin: 0 0 0 3rem;
		font-weight: 600;
		line-height: 0.8;
		font-size: 22px;
	}
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
	/* Styles */
	.panels__headline {
		font-size: 55px;
	}

	.panels p {
		font-size: 28px;
	}

	.panel-container {
		height: 35vw;
	}
	.panels__side {
		height: 35vw;
	}

	.videoContainer {
		height: 350px;
	}
	.exchange-title {
		font-size: 2.5rem;
	}
	.exchange-content {
		font-size: 1.25rem;
	}
	/* learn more button */
	.learn-more-class button.learn-more {
		width: 18rem;
		/* height: auto; */
	}
	.jump-button-container .circle {
		width: 4em;
		height: 4rem;
		/* border-radius: 50%; */
		border-radius: 1.9rem;
	}
	.jump-button-container .circle .jumparrow {
		left: 1.2rem;
		top: 1rem;
		font-size: 30px;
	}
	.jump-button-container .button-text {
		margin: 0 0 0 4rem;
		font-weight: 700;
		line-height: 1.4;
		font-size: 28px;
	}
}
