.logo-size {
	width: 45px;
	height: 45px;
}

.animated-button {
	width: 167px;
	height: 43px;
	text-align: start;
	font-size: 16px;
}

@media (max-width: 640px) {
	.logo-size {
		width: 30px;
		height: 30px;
	}

	.animated-button {
		width: 120px;
		height: 30px;
		font-size: 12px;
	}
}
