.grapes-container {
	/* margin-top: 150px; */
}

.grapes {
	font-family: inherit;
	font-size: inherit;
	box-sizing: inherit;
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: relative;
	/* background-color: #cf8; */
	background-color: black;
	border-radius: 0.5em;
}
.grapes html {
	box-sizing: border-box;
	overflow-x: hidden;
	font-size: 62.5%;
	font-family: "Rubik", sans-serif;
	user-select: none;
}
.grapes html body {
	/* background-color: #cf8; */
	width: 100vw;
	height: 100vh;
	overflow: inherit;
	font-size: 1.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.grapes .Caption {
	position: fixed;
	width: 100%;
	text-align: center;
	top: 3rem;
	font-size: 2rem;
	color: purple;
	opacity: 0.75;
}
.grapes .Grape {
	--layers: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	transform: translateY(calc(var(--layers) * -1rem)) scale(0.5);
	transition: transform 0.5s;
}
.grapes .Grape .Leaves {
	position: relative;
	transform-origin: 50% 100%;
	transform: scale(calc(var(--layers) * 0.2 + 0.8));
	transition: transform 0.5s;
}
.grapes .Grape .Leaves .Leaf {
	width: 8rem;
	height: 4rem;
	position: absolute;
	background-color: green;
	border-radius: 50%;
	border: solid 2px rgba(0, 0, 0, 0.3);
}

.Grape .Fruits .Row .Fruit {
	--digits: 1;
	--delay: 0;
	--variant: 0;
	--zindex: 0;
	width: 5rem;
	height: 5rem;
	transform: scale(1.5);
	position: relative;
	background-color: hsl(calc(-90deg + var(--variant) * 60deg), 55%, 40%);
	border-radius: 100%;
	border: solid 2px rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	animation: pop 0.5s cubic-bezier(0.23, 1.25, 0.74, 1.33);
	animation-fill-mode: backwards;
	animation-delay: calc(var(--delay) * 0.1s);
	font-size: calc(2.5rem / (0.7 + var(--digits) * 0.3));
	color: #fff;
	z-index: var(--zindex);
	transition: transform 0.5s, z-index 0.5s;
}
.grapes .Grape .Leaves .Leaf:first-child {
	transform-origin: 100% 100%;
	transform: translate(-110%, -50%) rotate(30deg);
	animation: wiggleL 5s ease-in-out infinite;
}
.grapes .Grape .Leaves .Leaf:last-child {
	transform-origin: 0% 100%;
	transform: translate(10%, -50%) scale(1.2) rotate(-30deg);
	animation: wiggleR 5s ease-in-out infinite;
}
.grapes .Grape .Leaves .Leaf::after {
	content: "";
	display: block;
	position: absolute;
	width: 80%;
	height: 2rem;
	border-radius: 50%;
	border-top: 2px solid darkgreen;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.grapes .Grape .Fruits {
	display: flex;
	flex-direction: column-reverse;
}
.grapes .Grape .Fruits .Row {
	display: flex;
	justify-content: center;
	align-items: center;
	animation: expand 0.5s cubic-bezier(0.78, 0.29, 0.51, 1.21);
	animation-fill-mode: both;
}
.grapes .Grape .Fruits .Row .Fruit {
	--digits: 1;
	--delay: 0;
	--variant: 0;
	--zindex: 0;
	width: 5rem;
	height: 5rem;
	transform: scale(1.5);
	position: relative;
	background-color: purple;
	border-radius: 100%;
	border: solid 2px rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	animation: pop 0.5s cubic-bezier(0.23, 1.25, 0.74, 1.33);
	animation-fill-mode: backwards;
	animation-delay: calc(var(--delay) * 0.1s);
	font-size: calc(2.5rem / (0.7 + var(--digits) * 0.3));
	color: #fff;
	z-index: var(--zindex);
	transition: transform 0.5s, z-index 0.5s;
}
.grapes .Grape .Fruits .Row .Fruit:hover {
	z-index: 999999;
	transform: scale(1.75);
}
.grapes .Grape .Fruits .Row .Fruit::before {
	content: "";
	display: block;
	position: absolute;
	width: 20%;
	height: 20%;
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 0.75);
	top: 20%;
	left: 20%;
}
.grapes .Grape .Fruits .Row .Fruit::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 0.8rem);
	height: calc(100% - 0.8rem);
	border-radius: 100%;
	border-bottom: solid 0.8rem rgba(0, 0, 0, 0.2);
	border-right: solid 0.8rem rgba(0, 0, 0, 0.2);
}
@keyframes expand {
	from {
		margin-top: -3em;
	}
	to {
		margin-top: 0em;
	}
}
@keyframes pop {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1.5);
	}
}
@keyframes wiggleL {
	0% {
		transform: translate(-110%, -50%) rotate(20deg);
	}
	50% {
		transform: translate(-110%, -50%) rotate(40deg);
	}
	100% {
		transform: translate(-110%, -50%) rotate(20deg);
	}
}
@keyframes wiggleR {
	0% {
		transform: translate(10%, -50%) scale(1.2) rotate(-20deg);
	}
	50% {
		transform: translate(10%, -50%) scale(1.2) rotate(-40deg);
	}
	100% {
		transform: translate(10%, -50%) scale(1.2) rotate(-20deg);
	}
}
