@import url("https://fonts.googleapis.com/css?family=Mukta:700");

#button {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	background: transparent;
	padding: 0;
	font-size: inherit;
	font-family: inherit;
}
button.learn-more {
	width: 12rem;
	height: auto;
}
button.learn-more .circle {
	-webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	-o-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: relative;
	display: block;
	margin: 0;
	/* width: 3rem;
	height: 3rem; */
	background: white;
	/* border-radius: 1.625rem; */
}
button.learn-more .circle .icon {
	-webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	-o-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	/* top: 0;
	bottom: 0; */
	margin: auto;
	background: black;
}
button.learn-more .circle .icon.jumparrow {
	-webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	-o-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	background: none;
	/* left: 0.8rem;
	top: 0.6rem; */
	/* font-size: 25px; */
}
button.learn-more .circle .icon.jumparrow::before {
	position: absolute;
	content: "";
	top: -0.25rem;
	right: 0.0625rem;
	width: 0.625rem;
	height: 0.625rem;
	border-top: 0.125rem solid black;
	border-right: 0.125rem solid black;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
button.learn-more .button-text {
	-webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	-o-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.75rem 0;
	color: #fff;
	/* color: #282936; */
	/* margin: 0 0 0 1.85rem;
	font-weight: 700;
	line-height: 1.6; */
	text-align: center;
	text-transform: uppercase;
}
button.learn-more .button-text:hover {
	color: #282936;
}
button:hover .circle {
	width: 100%;
}
button:hover .circle .icon.arrow {
	background: black;
	-webkit-transform: translate(1rem, 0);
	-ms-transform: translate(1rem, 0);
	transform: translate(1rem, 0);
}
button:hover .button-text {
	color: black;
}

@supports (display: grid) {
	#container {
		grid-area: main;
		align-self: center;
		justify-self: center;
	}
}

.liquidityLearn {
	position: relative;
}

.exchangeLearn {
	position: relative;
}

.farmLearn {
	position: relative;
}
