/* * {
  margin:0;
  padding:0;
  font-family: 'Arvo';
} */

@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

.rolling-main {
	height: 670px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	z-index: 22;
}
.rolling-text h1 {
	text-align: center;
	text-transform: uppercase;
	color: #f1faee;
	font-size: 4rem;
	font-family: "Arvo";
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

.rolling-text h2 {
	text-align: center;
	text-transform: uppercase;
	color: #f1faee;
	font-size: 1.5rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

.roller {
	/* height: 10.125rem; */
	line-height: 4rem;
	position: relative;
	/* overflow: hidden; */
	overflow: visible;
	width: 75%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #1d3557;
	/* margin-top: 30px; */
}

#spare-time {
	font-size: 1rem;
	font-style: italic;
	letter-spacing: 1rem;
	margin-top: 0;
	color: #a8dadc;
}

.rolltext {
	position: absolute;
	top: 0;
	animation: slide 5s infinite;
}

@keyframes slide {
	0% {
		top: 0;
	}
	25% {
		top: -4rem;
	}
	50% {
		top: -8rem;
	}
	/* 72.5%{
    top: -12.25rem;
  }
  100%{
    top:-16.25rem
  } */
}

@media screen and (max-width: 600px) {
	.rolling-text h1 {
		text-align: center;
		text-transform: uppercase;
		color: #f1faee;
		font-size: 2.125rem;
	}

	.roller {
		height: 2.6rem;
		line-height: 2.125rem;
	}

	#spare-time {
		font-size: 1rem;
		letter-spacing: 0.1rem;
	}

	.roller #rolltext {
		animation: slide-mob 5s infinite;
	}

	@keyframes slide-mob {
		0% {
			top: 2rem;
		}
		25% {
			top: -2rem;
		}
		50% {
			top: -4rem;
		}
		/* 72.5%{
    top: -6.375rem;
  } */
	}
}

.orange {
	background-color: #eb5c20;
}

.blue {
	background-color: #1e5d91;
}

.green {
	background-color: #70ba33;
}
.red {
	background-color: #c6224e;
}

.yellow {
	background-color: #e29227;
}

.darkgreen {
	background-color: #1c9965;
}
/* Rolling Text Media Queries */
.rolling-title h1 {
	margin: 5px;
}
.rolling-title h2 {
	/* margin-bottom: 20px; */
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width: 640px) {
	/* Styles */
	.rolling-title h1 {
		font-size: 2.5rem;
	}
	.rolling-title h2 {
		font-size: 0.75rem;
	}
	.rolltext {
		width: 450px;
		font-size: 2.5rem;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 640px) and (max-device-width: 992px) {
	/* Styles */
	.rolling-title h1 {
		font-size: 3rem;
	}
	.rolling-title h2 {
		font-size: 1rem;
	}
	.rolltext {
		width: 450px;
		font-size: 2.5rem;
	}
}

@media only screen and (min-device-width: 993px) and (max-device-width: 1280px) {
	/* Styles */
	.rolling-title h1 {
		font-size: 5rem;
	}
	.rolling-title h2 {
		font-size: 1.4rem;
	}
	.rolltext {
		width: 450px;
		font-size: 2.5rem;
	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1280px) {
	/* Styles */
	.rolling-title h1 {
		font-size: 5rem;
	}
	.rolling-title h2 {
		font-size: 1.5rem;
	}
	.rolltext {
		width: 450px;
		font-size: 2.5rem;
	}
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
	/* Styles */
	.rolling-title h1 {
		font-size: 7rem;
	}
	.rolling-title h2 {
		font-size: 2rem;
	}
	.rolltext {
		width: 550px;
		font-size: 3.5rem;
	}
	/* .orange {
		padding: 0px 0px 5px 0px;
	} */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
	/* Styles */
}
