.Spacehtml {
	font-size: 62.5%;
	font-family: "Varela Round", sans-serif;
	/* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
	background: black;
	overflow: hidden;
	margin-top: auto;
	padding: 0;
	width: 24vw;
	height: 16vw;
	border-radius: 10px;
}

.rocket {
	height: 15vw;
	-webkit-transform: translateY(100vh);
	-ms-transform: translateY(100vh);
	transform: translateY(100vh);
	position: relative;
	left: 40%;
}
/*   
  .sky {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    height: 200vh;
    min-height: 100vh;
    background-color: black;
    z-index: -1; }
  
  .sky-bg {
    height: 100vh;
    background-size: 28rem;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 142.05 259.2"><title>Asset 1</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path d="M115.66,178.42a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM85,106.62a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm30.47,125.84a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM86.79,248.39a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-80,2.38a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM19.3,199.46a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm58.7-32a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-36.9-1.53a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM79.63,201a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm60.79-110.3a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM52.93,15.78a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM81.16,65.59a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM28.54,112.91a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM122,171.59a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-79.5,46.86a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm40.06-85.27a.6.6,0,1,0,.6.6.6.6,0,0,0-.6-.6ZM48.1,140.69a.6.6,0,1,0,.6.6.6.6,0,0,0-.6-.6ZM56.33,156a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM34.76,203.62a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM42.17,214a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm-15,20.89a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM.3,244.27a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm22-62.4a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM18.66,186a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm79.59-7.39a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM91.5,171a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm-29,83.17a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm37.48-9.3a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm-28.69-5.7a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM68.4,31.72a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM125,119.09a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm-97.2,21.08a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3ZM106.5,199a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm6.75,9.9a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm-59.85.6a.3.3,0,1,0,.3.3.3.3,0,0,0-.3-.3Zm56.91-116.9a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM18.69,168.48a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm63.62-21.42a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM43,26.62a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm.24,34.19a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM17.35,92.25a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM101,46.12a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm26.25-31.5a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm-.39-11.76a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM89.27,6.94a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM13.71,1.7a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm104.4,64.47a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm9.77,157.38a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39Zm-29.63-41a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM14.68,212.4a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM8.93,135.84a.39.39,0,1,0,.39.39.39.39,0,0,0-.39-.39ZM114.41,56.6a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm20.75-44.86a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-118.58,78a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm19-82.56a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM2.81,26.71a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM134.39,141.54a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM5.3,210.86a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm78.17-53a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm37.56,88a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-86.41,1.43a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm39-15.5a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm-31.88-163a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM107.24,12.7a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm20.73,51a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM14.35,5.22a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM57.57,12a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM86.49,3.24a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm32.44,15.51a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm.26-11.81a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm18,65.51a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-18-22.86a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM83.48,59.1a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm44.41,46.26a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-99.52,11a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM10.09,73.91a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm89.39,44.44a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm5.78,59.57a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm28.1,17.48a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-33.9,28.28a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm36.91,28.7a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM64.26,109.62a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm1.46,3.44a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-64.87-7a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm44,16.79a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM50.7,75.37a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM83.22,85.52a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM94.7,51a.26.26,0,1,0,.26.26A.26.26,0,0,0,94.7,51Zm28.59,5a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm13.59-16.51a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-17.7-4.41a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-76.6,14.4a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-28.49-8a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm4-22.58a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-8-11.81a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-5.31-4A.26.26,0,1,0,5,3.5a.26.26,0,0,0-.26-.26ZM47.19,96a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77Zm70.54,49.47a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm24.07-61.44a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM35.66,86.57a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM89.91,36.64a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm51.63-19.35a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm-4.14,29.8a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM47.19.75a.77.77,0,1,0,.77.77.77.77,0,0,0-.77-.77ZM9.58,42.08a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm7.89-18.9a.26.26,0,1,0,.26.26A.26.26,0,0,0,17.46,23.17Z" fill="%23fefefe" fill-rule="evenodd"/><path d="M65,10.54a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26Zm66,229.22a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM115.83,81.52a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm.84,32.92a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM121,208.1a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm-93.85-9.9a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM65.83,126a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm66.08,56.49a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm-93.15-.15a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM138.83,87.84a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM35.57,1.81a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM83,52.51a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM81.09,73.68a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm32.55,73.76a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM13.81,147a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm0,76.49a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM23.35,58.64a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM114.41,12.7a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM2,40.16a.49.49,0,1,0,.49.49A.49.49,0,0,0,2,40.16Zm49.41,6a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm57,212.11a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM4.81,167.51a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm134,1.92a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM9.32,121.08a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm129.28,7a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM8.11,60.56a.26.26,0,1,0,.26.26.26.26,0,0,0-.26-.26ZM.86,0a.38.38,0,1,0,.38.38A.38.38,0,0,0,.86,0ZM134.77,6.45a.38.38,0,1,0,.38.38.38.38,0,0,0-.38-.38Zm-4.82,36a.38.38,0,1,0,.38.38A.38.38,0,0,0,129.95,42.47Z" fill="%2300afef" fill-rule="evenodd"/><path d="M125,7.71a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm-107,242.22a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm43.87-6.5a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM27.16,129.18a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm78.62,12.72a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM55.61,177.76a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM8,193.6a.42.42,0,1,0,.42.42A.42.42,0,0,0,8,193.6ZM38.28,97.67a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm53.34,6.18a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm-42.5,44.94a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42Zm73.2,30.42a.42.42,0,1,0,.42.42.42.42,0,0,0-.42-.42ZM94.44,49.57a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49Zm41.49,172a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM.49,78a.49.49,0,1,0,.49.49A.49.49,0,0,0,.49,78Zm134.66,37.82a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM5.53,145.52A.49.49,0,1,0,6,146a.49.49,0,0,0-.49-.49ZM106.76,84.81a.49.49,0,1,0,.49.49.49.49,0,0,0-.49-.49ZM21.43,41.13a.49.49,0,1,0,.49.49A.49.49,0,0,0,21.43,41.13Z" fill="%23ec268f" fill-rule="evenodd"/></g></g></svg>'); }
   */
.meteor {
	position: absolute;
	top: 0;
	right: 0;
	width: 5rem;
	opacity: 0.6;
}

.planet {
	top: -30vh;
	position: absolute;
	background-size: cover;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: 600;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
	display: none;
}
.planet-1 {
	width: 17rem;
	height: 17rem;
	right: 5vw;
	color: #b7ff45;
	font-size: 2.5rem;
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/830072/planet-code.svg");
}
.planet-2 {
	left: 5vw;
	width: 17rem;
	height: 17rem;
	color: #48eafa;
	font-size: 2.8rem;
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/830072/planet-web%402x.png");
}
.planet-3 {
	right: 5vw;
	width: 14rem;
	height: 14rem;
	color: #ffdc75;
	font-size: 2.6rem;
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/830072/planet-3.svg");
}
.planet-4 {
	left: 5vw;
	width: 17rem;
	height: 17rem;
	color: #a7bcff;
	font-size: 2.4rem;
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/830072/planet-animation.svg");
}

.text {
	position: absolute;
	top: 0;
	bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: "Varela Round";
	color: white;
	font-size: 40px;
	text-shadow: 0 0 10px wheat;
	font-weight: bold;
	opacity: 0;
}

@media only screen and (max-width: 500px) {
	.text {
		font-size: 6vw;
	}
}

.SpaceBar {
	position: relative;
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: contents;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	overflow: hidden;
	font-size: 62.5%;
}

.Spacebody {
	overflow: hidden;
	font-family: "Open Sans", sans-serif;
}
.Starbg {
	position: relative;
}

#stars {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 1971px 522px #fff, 605px 1616px #fff, 1020px 1449px #fff,
		364px 525px #fff, 1931px 242px #fff, 866px 141px #fff, 316px 1631px #fff,
		1244px 760px #fff, 1543px 1071px #fff, 251px 1337px #fff, 1377px 1812px #fff,
		803px 666px #fff, 599px 1245px #fff, 1380px 466px #fff, 1016px 78px #fff,
		115px 1016px #fff, 1460px 1132px #fff, 1875px 1225px #fff, 181px 1588px #fff,
		1323px 233px #fff, 1867px 89px #fff, 427px 11px #fff, 681px 1849px #fff,
		60px 342px #fff, 954px 656px #fff, 886px 1414px #fff, 635px 550px #fff,
		1323px 76px #fff, 1839px 97px #fff, 1482px 732px #fff, 1235px 773px #fff,
		1297px 925px #fff, 830px 1461px #fff, 332px 1625px #fff, 34px 1835px #fff,
		94px 200px #fff, 311px 968px #fff, 538px 1612px #fff, 323px 569px #fff,
		486px 273px #fff, 1169px 1444px #fff, 1461px 650px #fff, 1823px 126px #fff,
		1568px 1013px #fff, 837px 1419px #fff, 1463px 1791px #fff, 158px 144px #fff,
		1464px 1986px #fff, 641px 71px #fff, 967px 666px #fff, 874px 1403px #fff,
		105px 958px #fff, 335px 1281px #fff, 978px 858px #fff, 1847px 659px #fff,
		1462px 1190px #fff, 140px 783px #fff, 411px 1025px #fff, 1341px 35px #fff,
		1331px 1596px #fff, 1615px 443px #fff, 1360px 737px #fff, 611px 33px #fff,
		196px 450px #fff, 1680px 355px #fff, 873px 30px #fff, 694px 149px #fff,
		120px 617px #fff, 413px 1579px #fff, 1333px 62px #fff, 262px 1938px #fff,
		485px 1714px #fff, 27px 1522px #fff, 917px 936px #fff, 670px 189px #fff,
		983px 750px #fff, 1832px 1277px #fff, 1744px 1543px #fff, 521px 756px #fff,
		1369px 1584px #fff, 1502px 681px #fff, 393px 1412px #fff, 708px 975px #fff,
		410px 483px #fff, 1852px 795px #fff, 206px 183px #fff, 359px 606px #fff,
		1658px 834px #fff, 146px 441px #fff, 1128px 60px #fff, 198px 1184px #fff,
		1287px 21px #fff, 291px 1194px #fff, 1243px 514px #fff, 132px 374px #fff,
		956px 811px #fff, 1489px 1479px #fff, 636px 1888px #fff, 1336px 1359px #fff,
		1264px 426px #fff, 34px 275px #fff, 1038px 507px #fff, 1477px 1769px #fff,
		1951px 193px #fff, 1899px 510px #fff, 1466px 1635px #fff, 1233px 844px #fff,
		891px 472px #fff, 1368px 1722px #fff, 1666px 1784px #fff, 982px 160px #fff,
		285px 1861px #fff, 161px 398px #fff, 1651px 1092px #fff, 1371px 601px #fff,
		361px 1245px #fff, 1301px 1463px #fff, 1994px 1991px #fff,
		1341px 1427px #fff, 1477px 1185px #fff, 301px 1276px #fff, 943px 1616px #fff,
		61px 519px #fff, 712px 879px #fff, 1505px 684px #fff, 345px 1635px #fff,
		1999px 427px #fff, 1310px 384px #fff, 1648px 116px #fff, 943px 521px #fff,
		1495px 1087px #fff, 909px 186px #fff, 297px 719px #fff, 1662px 1027px #fff,
		1226px 906px #fff, 813px 1092px #fff, 1457px 397px #fff, 1763px 1508px #fff,
		334px 884px #fff, 761px 805px #fff, 596px 1977px #fff, 543px 1191px #fff,
		469px 1833px #fff, 172px 868px #fff, 1609px 207px #fff, 793px 993px #fff,
		232px 1131px #fff, 936px 1203px #fff, 1072px 333px #fff, 1338px 1422px #fff,
		963px 227px #fff, 746px 236px #fff, 937px 1214px #fff, 493px 271px #fff,
		1471px 475px #fff, 783px 528px #fff, 168px 1511px #fff, 633px 1329px #fff,
		158px 15px #fff, 1900px 1726px #fff, 345px 519px #fff, 1516px 1825px #fff,
		1161px 1860px #fff, 1533px 276px #fff, 1820px 1016px #fff, 410px 1393px #fff,
		1088px 1806px #fff, 1455px 1618px #fff, 1756px 1446px #fff,
		1099px 1851px #fff, 40px 846px #fff, 850px 825px #fff, 535px 1907px #fff,
		572px 281px #fff, 1047px 1305px #fff, 1881px 998px #fff, 932px 959px #fff,
		46px 1537px #fff, 975px 1785px #fff, 172px 27px #fff, 834px 998px #fff,
		144px 1647px #fff, 1332px 1661px #fff, 418px 1094px #fff, 1836px 1482px #fff,
		497px 755px #fff, 267px 612px #fff, 1739px 1468px #fff, 1288px 1441px #fff,
		1897px 457px #fff, 1630px 919px #fff, 1842px 1605px #fff, 921px 750px #fff,
		285px 1864px #fff, 310px 1111px #fff, 1994px 794px #fff, 146px 37px #fff,
		903px 915px #fff, 1848px 368px #fff, 1695px 1205px #fff, 971px 310px #fff,
		926px 482px #fff, 553px 728px #fff, 916px 1419px #fff, 1956px 29px #fff,
		1484px 1877px #fff, 1073px 1252px #fff, 1088px 1555px #fff,
		1000px 868px #fff, 1495px 1729px #fff, 322px 1998px #fff, 1717px 1638px #fff,
		1800px 47px #fff, 1388px 1667px #fff, 1250px 1805px #fff, 1635px 993px #fff,
		25px 1275px #fff, 1259px 1713px #fff, 1427px 962px #fff, 1150px 1127px #fff,
		1740px 262px #fff, 1271px 1291px #fff, 1064px 1361px #fff, 46px 192px #fff,
		396px 837px #fff, 1797px 1704px #fff, 58px 1058px #fff, 705px 1358px #fff,
		648px 848px #fff, 620px 1698px #fff, 1850px 525px #fff, 1219px 376px #fff,
		1411px 169px #fff, 1002px 1281px #fff, 1155px 879px #fff, 1638px 1149px #fff,
		1740px 1474px #fff, 1616px 906px #fff, 1145px 1448px #fff,
		1950px 1602px #fff, 988px 238px #fff, 1168px 256px #fff, 1238px 1694px #fff,
		140px 447px #fff, 1569px 660px #fff, 341px 627px #fff, 1438px 754px #fff,
		1815px 150px #fff, 1008px 1058px #fff, 438px 632px #fff, 1143px 1987px #fff,
		1680px 97px #fff, 349px 609px #fff, 464px 101px #fff, 1451px 1510px #fff,
		1098px 1567px #fff, 716px 1870px #fff, 1805px 522px #fff, 938px 784px #fff,
		1503px 258px #fff, 1972px 1825px #fff, 1868px 1766px #fff, 1112px 210px #fff,
		1920px 1755px #fff, 320px 985px #fff, 1415px 747px #fff, 740px 513px #fff,
		881px 1882px #fff, 744px 407px #fff, 670px 1857px #fff, 367px 205px #fff,
		767px 1853px #fff, 1247px 301px #fff, 706px 596px #fff, 1789px 155px #fff,
		1037px 965px #fff, 509px 1175px #fff, 13px 60px #fff, 1526px 631px #fff,
		399px 812px #fff, 1050px 1015px #fff, 1887px 1005px #fff, 966px 114px #fff,
		843px 1221px #fff, 747px 1789px #fff, 630px 268px #fff, 232px 498px #fff,
		679px 1356px #fff, 1316px 870px #fff, 1987px 568px #fff, 529px 1631px #fff,
		720px 946px #fff, 1940px 899px #fff, 613px 22px #fff, 1434px 1153px #fff,
		1233px 1650px #fff, 1584px 1410px #fff, 1378px 429px #fff, 527px 864px #fff,
		1543px 411px #fff, 621px 1690px #fff, 614px 937px #fff, 998px 1708px #fff,
		379px 775px #fff, 1387px 1751px #fff, 770px 733px #fff, 1452px 1978px #fff,
		728px 185px #fff, 1183px 984px #fff, 294px 60px #fff, 838px 1284px #fff,
		167px 761px #fff, 1510px 1280px #fff, 437px 1005px #fff, 555px 340px #fff,
		1673px 603px #fff, 267px 378px #fff, 1320px 1229px #fff, 1504px 1715px #fff,
		1246px 937px #fff, 984px 585px #fff, 1034px 440px #fff, 1415px 107px #fff,
		808px 1808px #fff, 836px 1768px #fff, 225px 398px #fff, 1463px 324px #fff,
		1086px 1130px #fff, 1367px 1048px #fff, 305px 547px #fff, 1660px 442px #fff,
		1787px 61px #fff, 1387px 1402px #fff, 439px 667px #fff, 251px 108px #fff,
		1611px 1367px #fff, 1391px 1987px #fff, 322px 1069px #fff, 1752px 48px #fff,
		984px 1190px #fff, 1849px 520px #fff, 204px 1186px #fff, 708px 1882px #fff,
		163px 1786px #fff, 473px 1318px #fff, 1680px 1150px #fff, 1930px 850px #fff,
		1184px 647px #fff, 687px 1487px #fff, 424px 261px #fff, 1721px 1288px #fff,
		1551px 1912px #fff, 252px 1804px #fff, 1174px 364px #fff, 994px 1288px #fff,
		1739px 116px #fff, 1109px 401px #fff, 1437px 1026px #fff, 1705px 469px #fff,
		493px 1595px #fff, 1967px 824px #fff, 563px 316px #fff, 1826px 346px #fff,
		375px 1772px #fff, 999px 1432px #fff, 957px 1867px #fff, 1251px 162px #fff,
		1781px 381px #fff, 349px 484px #fff, 454px 1871px #fff, 604px 669px #fff,
		1574px 1506px #fff, 391px 1556px #fff, 743px 1330px #fff, 771px 193px #fff,
		1433px 663px #fff, 762px 276px #fff, 522px 1025px #fff, 1317px 163px #fff,
		79px 692px #fff, 1058px 894px #fff, 1955px 1036px #fff, 221px 1366px #fff,
		196px 1426px #fff, 1715px 1514px #fff, 929px 1567px #fff, 426px 148px #fff,
		199px 1838px #fff, 730px 1131px #fff, 173px 1305px #fff, 1260px 723px #fff,
		1868px 1924px #fff, 198px 902px #fff, 68px 153px #fff, 1157px 1278px #fff,
		1359px 1903px #fff, 151px 872px #fff, 47px 270px #fff, 972px 1586px #fff,
		1778px 434px #fff, 336px 1725px #fff, 574px 803px #fff, 1961px 1380px #fff,
		1328px 871px #fff, 143px 79px #fff, 117px 885px #fff, 1912px 1789px #fff,
		347px 863px #fff, 153px 805px #fff, 1230px 789px #fff, 533px 581px #fff,
		205px 1598px #fff, 1900px 1140px #fff, 1915px 473px #fff, 1844px 289px #fff,
		832px 1941px #fff, 1778px 1529px #fff, 910px 623px #fff, 1251px 1167px #fff,
		304px 1206px #fff, 777px 833px #fff, 801px 1075px #fff, 309px 765px #fff,
		285px 1004px #fff, 1524px 651px #fff, 1899px 1827px #fff, 1736px 964px #fff,
		882px 377px #fff, 760px 1853px #fff, 398px 1806px #fff, 935px 629px #fff,
		1303px 1713px #fff, 1701px 890px #fff, 1812px 655px #fff, 526px 1566px #fff,
		1053px 230px #fff, 735px 1003px #fff, 816px 345px #fff, 813px 1950px #fff,
		1593px 915px #fff, 1199px 1603px #fff, 1643px 382px #fff, 1462px 1782px #fff,
		1914px 231px #fff, 159px 1905px #fff, 629px 1806px #fff, 422px 193px #fff,
		1949px 351px #fff, 1812px 1765px #fff, 595px 1315px #fff, 1908px 1850px #fff,
		706px 173px #fff, 142px 331px #fff, 1209px 1180px #fff, 1436px 1108px #fff,
		1908px 1611px #fff, 1595px 724px #fff, 384px 1373px #fff, 357px 874px #fff,
		137px 752px #fff, 1289px 210px #fff, 1840px 1455px #fff, 1156px 1913px #fff,
		210px 925px #fff, 1743px 1689px #fff, 1209px 1369px #fff, 1343px 574px #fff,
		288px 1715px #fff, 256px 1808px #fff, 607px 1569px #fff, 263px 1707px #fff,
		731px 1789px #fff, 1782px 654px #fff, 1272px 301px #fff, 1575px 1276px #fff,
		1133px 1256px #fff, 146px 347px #fff, 1308px 181px #fff, 322px 1248px #fff,
		1479px 388px #fff, 1217px 1790px #fff, 664px 1045px #fff, 1823px 700px #fff,
		960px 539px #fff, 1456px 670px #fff, 1138px 483px #fff, 1653px 1204px #fff,
		293px 320px #fff, 1526px 164px #fff, 756px 364px #fff, 2px 640px #fff,
		1715px 1997px #fff, 1522px 1251px #fff, 1886px 1766px #fff,
		179px 1405px #fff, 1287px 954px #fff, 814px 462px #fff, 727px 1530px #fff,
		609px 263px #fff, 254px 472px #fff, 561px 785px #fff, 135px 838px #fff,
		1997px 1446px #fff, 1575px 104px #fff, 161px 119px #fff, 1362px 108px #fff,
		1080px 547px #fff, 1226px 1671px #fff, 777px 1528px #fff, 1721px 1262px #fff,
		272px 837px #fff, 1094px 1793px #fff, 48px 515px #fff, 1629px 1276px #fff,
		1496px 1096px #fff, 1047px 956px #fff, 353px 712px #fff, 1094px 85px #fff,
		1889px 733px #fff, 1480px 472px #fff, 262px 313px #fff, 1962px 796px #fff,
		1414px 1672px #fff, 1457px 1402px #fff, 866px 426px #fff, 1734px 669px #fff,
		1750px 1552px #fff, 866px 377px #fff, 1497px 595px #fff, 1879px 478px #fff,
		818px 1263px #fff, 1781px 162px #fff, 144px 1978px #fff, 39px 1121px #fff,
		590px 854px #fff, 506px 81px #fff, 261px 1144px #fff, 1376px 1388px #fff,
		27px 47px #fff, 1555px 1521px #fff, 1568px 137px #fff, 1208px 680px #fff,
		958px 1917px #fff, 1197px 1371px #fff, 1123px 1995px #fff, 1734px 917px #fff,
		927px 1339px #fff, 567px 611px #fff, 1463px 1675px #fff, 987px 1327px #fff,
		1663px 919px #fff, 629px 317px #fff, 1160px 927px #fff, 452px 468px #fff,
		1392px 1497px #fff, 120px 781px #fff, 425px 15px #fff, 1360px 1070px #fff,
		1755px 1073px #fff, 1352px 1127px #fff, 1130px 97px #fff, 1310px 446px #fff,
		1219px 726px #fff, 1910px 608px #fff, 339px 195px #fff, 1902px 31px #fff,
		41px 1907px #fff, 1935px 1605px #fff, 1134px 1985px #fff, 754px 570px #fff,
		1866px 1504px #fff, 1933px 853px #fff, 1158px 261px #fff, 593px 1146px #fff,
		372px 532px #fff, 1863px 1114px #fff, 1370px 1108px #fff, 703px 832px #fff,
		185px 695px #fff, 314px 1684px #fff, 224px 1695px #fff, 1689px 1618px #fff,
		905px 1847px #fff, 117px 756px #fff, 1117px 446px #fff, 1065px 1253px #fff,
		449px 299px #fff, 710px 1982px #fff, 1530px 44px #fff, 110px 1648px #fff,
		1264px 1786px #fff, 1702px 1360px #fff, 1196px 1723px #fff,
		1031px 1243px #fff, 68px 1363px #fff, 1110px 1755px #fff, 4px 1967px #fff,
		346px 130px #fff, 1794px 389px #fff, 1168px 1970px #fff, 1191px 1628px #fff,
		1869px 1934px #fff, 348px 351px #fff, 180px 682px #fff, 19px 139px #fff,
		141px 1203px #fff, 847px 190px #fff, 434px 1710px #fff, 1055px 1173px #fff,
		943px 1088px #fff, 978px 1102px #fff, 164px 1868px #fff, 1177px 1663px #fff,
		823px 1603px #fff, 1501px 987px #fff, 896px 1215px #fff, 999px 1199px #fff,
		1617px 694px #fff, 930px 1881px #fff, 647px 763px #fff, 1940px 396px #fff,
		1163px 51px #fff, 1970px 1703px #fff, 1255px 1036px #fff, 498px 1885px #fff,
		1565px 1946px #fff, 277px 1789px #fff, 274px 1305px #fff, 73px 1510px #fff,
		513px 266px #fff, 1474px 864px #fff, 21px 1323px #fff, 614px 914px #fff,
		250px 344px #fff, 1867px 473px #fff, 616px 1822px #fff, 69px 579px #fff,
		1462px 987px #fff, 941px 707px #fff, 501px 1385px #fff, 1728px 968px #fff,
		1540px 514px #fff, 1882px 1550px #fff, 1271px 1675px #fff, 1325px 106px #fff,
		944px 1854px #fff, 967px 1718px #fff, 586px 108px #fff, 504px 1947px #fff,
		761px 1529px #fff, 1451px 1594px #fff, 1325px 1568px #fff, 1371px 975px #fff,
		1463px 526px #fff, 800px 64px #fff, 261px 1231px #fff, 1017px 659px #fff,
		1643px 565px #fff, 1427px 1466px #fff, 244px 1638px #fff, 1854px 969px #fff,
		15px 1812px #fff, 265px 411px #fff, 1267px 1678px #fff, 268px 501px #fff,
		271px 511px #fff, 546px 701px #fff, 1544px 1237px #fff, 1814px 933px #fff,
		1658px 513px #fff, 929px 713px #fff, 829px 24px #fff, 1888px 322px #fff,
		85px 1497px #fff, 1050px 141px #fff, 1699px 120px #fff, 1958px 1617px #fff,
		1537px 1258px #fff, 1116px 1935px #fff, 1758px 1005px #fff,
		427px 1839px #fff, 1148px 1436px #fff, 1139px 1228px #fff, 698px 225px #fff,
		1640px 350px #fff, 1033px 426px #fff, 879px 1444px #fff, 884px 1188px #fff,
		1673px 1146px #fff, 1844px 547px #fff, 600px 1154px #fff, 1518px 1441px #fff,
		354px 1922px #fff, 1454px 1544px #fff, 787px 462px #fff, 1041px 410px #fff,
		406px 1326px #fff, 817px 1733px #fff, 1131px 1px #fff, 905px 223px #fff;
	animation: animStar 50s linear infinite;
}
#stars:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 1971px 522px #fff, 605px 1616px #fff, 1020px 1449px #fff,
		364px 525px #fff, 1931px 242px #fff, 866px 141px #fff, 316px 1631px #fff,
		1244px 760px #fff, 1543px 1071px #fff, 251px 1337px #fff, 1377px 1812px #fff,
		803px 666px #fff, 599px 1245px #fff, 1380px 466px #fff, 1016px 78px #fff,
		115px 1016px #fff, 1460px 1132px #fff, 1875px 1225px #fff, 181px 1588px #fff,
		1323px 233px #fff, 1867px 89px #fff, 427px 11px #fff, 681px 1849px #fff,
		60px 342px #fff, 954px 656px #fff, 886px 1414px #fff, 635px 550px #fff,
		1323px 76px #fff, 1839px 97px #fff, 1482px 732px #fff, 1235px 773px #fff,
		1297px 925px #fff, 830px 1461px #fff, 332px 1625px #fff, 34px 1835px #fff,
		94px 200px #fff, 311px 968px #fff, 538px 1612px #fff, 323px 569px #fff,
		486px 273px #fff, 1169px 1444px #fff, 1461px 650px #fff, 1823px 126px #fff,
		1568px 1013px #fff, 837px 1419px #fff, 1463px 1791px #fff, 158px 144px #fff,
		1464px 1986px #fff, 641px 71px #fff, 967px 666px #fff, 874px 1403px #fff,
		105px 958px #fff, 335px 1281px #fff, 978px 858px #fff, 1847px 659px #fff,
		1462px 1190px #fff, 140px 783px #fff, 411px 1025px #fff, 1341px 35px #fff,
		1331px 1596px #fff, 1615px 443px #fff, 1360px 737px #fff, 611px 33px #fff,
		196px 450px #fff, 1680px 355px #fff, 873px 30px #fff, 694px 149px #fff,
		120px 617px #fff, 413px 1579px #fff, 1333px 62px #fff, 262px 1938px #fff,
		485px 1714px #fff, 27px 1522px #fff, 917px 936px #fff, 670px 189px #fff,
		983px 750px #fff, 1832px 1277px #fff, 1744px 1543px #fff, 521px 756px #fff,
		1369px 1584px #fff, 1502px 681px #fff, 393px 1412px #fff, 708px 975px #fff,
		410px 483px #fff, 1852px 795px #fff, 206px 183px #fff, 359px 606px #fff,
		1658px 834px #fff, 146px 441px #fff, 1128px 60px #fff, 198px 1184px #fff,
		1287px 21px #fff, 291px 1194px #fff, 1243px 514px #fff, 132px 374px #fff,
		956px 811px #fff, 1489px 1479px #fff, 636px 1888px #fff, 1336px 1359px #fff,
		1264px 426px #fff, 34px 275px #fff, 1038px 507px #fff, 1477px 1769px #fff,
		1951px 193px #fff, 1899px 510px #fff, 1466px 1635px #fff, 1233px 844px #fff,
		891px 472px #fff, 1368px 1722px #fff, 1666px 1784px #fff, 982px 160px #fff,
		285px 1861px #fff, 161px 398px #fff, 1651px 1092px #fff, 1371px 601px #fff,
		361px 1245px #fff, 1301px 1463px #fff, 1994px 1991px #fff,
		1341px 1427px #fff, 1477px 1185px #fff, 301px 1276px #fff, 943px 1616px #fff,
		61px 519px #fff, 712px 879px #fff, 1505px 684px #fff, 345px 1635px #fff,
		1999px 427px #fff, 1310px 384px #fff, 1648px 116px #fff, 943px 521px #fff,
		1495px 1087px #fff, 909px 186px #fff, 297px 719px #fff, 1662px 1027px #fff,
		1226px 906px #fff, 813px 1092px #fff, 1457px 397px #fff, 1763px 1508px #fff,
		334px 884px #fff, 761px 805px #fff, 596px 1977px #fff, 543px 1191px #fff,
		469px 1833px #fff, 172px 868px #fff, 1609px 207px #fff, 793px 993px #fff,
		232px 1131px #fff, 936px 1203px #fff, 1072px 333px #fff, 1338px 1422px #fff,
		963px 227px #fff, 746px 236px #fff, 937px 1214px #fff, 493px 271px #fff,
		1471px 475px #fff, 783px 528px #fff, 168px 1511px #fff, 633px 1329px #fff,
		158px 15px #fff, 1900px 1726px #fff, 345px 519px #fff, 1516px 1825px #fff,
		1161px 1860px #fff, 1533px 276px #fff, 1820px 1016px #fff, 410px 1393px #fff,
		1088px 1806px #fff, 1455px 1618px #fff, 1756px 1446px #fff,
		1099px 1851px #fff, 40px 846px #fff, 850px 825px #fff, 535px 1907px #fff,
		572px 281px #fff, 1047px 1305px #fff, 1881px 998px #fff, 932px 959px #fff,
		46px 1537px #fff, 975px 1785px #fff, 172px 27px #fff, 834px 998px #fff,
		144px 1647px #fff, 1332px 1661px #fff, 418px 1094px #fff, 1836px 1482px #fff,
		497px 755px #fff, 267px 612px #fff, 1739px 1468px #fff, 1288px 1441px #fff,
		1897px 457px #fff, 1630px 919px #fff, 1842px 1605px #fff, 921px 750px #fff,
		285px 1864px #fff, 310px 1111px #fff, 1994px 794px #fff, 146px 37px #fff,
		903px 915px #fff, 1848px 368px #fff, 1695px 1205px #fff, 971px 310px #fff,
		926px 482px #fff, 553px 728px #fff, 916px 1419px #fff, 1956px 29px #fff,
		1484px 1877px #fff, 1073px 1252px #fff, 1088px 1555px #fff,
		1000px 868px #fff, 1495px 1729px #fff, 322px 1998px #fff, 1717px 1638px #fff,
		1800px 47px #fff, 1388px 1667px #fff, 1250px 1805px #fff, 1635px 993px #fff,
		25px 1275px #fff, 1259px 1713px #fff, 1427px 962px #fff, 1150px 1127px #fff,
		1740px 262px #fff, 1271px 1291px #fff, 1064px 1361px #fff, 46px 192px #fff,
		396px 837px #fff, 1797px 1704px #fff, 58px 1058px #fff, 705px 1358px #fff,
		648px 848px #fff, 620px 1698px #fff, 1850px 525px #fff, 1219px 376px #fff,
		1411px 169px #fff, 1002px 1281px #fff, 1155px 879px #fff, 1638px 1149px #fff,
		1740px 1474px #fff, 1616px 906px #fff, 1145px 1448px #fff,
		1950px 1602px #fff, 988px 238px #fff, 1168px 256px #fff, 1238px 1694px #fff,
		140px 447px #fff, 1569px 660px #fff, 341px 627px #fff, 1438px 754px #fff,
		1815px 150px #fff, 1008px 1058px #fff, 438px 632px #fff, 1143px 1987px #fff,
		1680px 97px #fff, 349px 609px #fff, 464px 101px #fff, 1451px 1510px #fff,
		1098px 1567px #fff, 716px 1870px #fff, 1805px 522px #fff, 938px 784px #fff,
		1503px 258px #fff, 1972px 1825px #fff, 1868px 1766px #fff, 1112px 210px #fff,
		1920px 1755px #fff, 320px 985px #fff, 1415px 747px #fff, 740px 513px #fff,
		881px 1882px #fff, 744px 407px #fff, 670px 1857px #fff, 367px 205px #fff,
		767px 1853px #fff, 1247px 301px #fff, 706px 596px #fff, 1789px 155px #fff,
		1037px 965px #fff, 509px 1175px #fff, 13px 60px #fff, 1526px 631px #fff,
		399px 812px #fff, 1050px 1015px #fff, 1887px 1005px #fff, 966px 114px #fff,
		843px 1221px #fff, 747px 1789px #fff, 630px 268px #fff, 232px 498px #fff,
		679px 1356px #fff, 1316px 870px #fff, 1987px 568px #fff, 529px 1631px #fff,
		720px 946px #fff, 1940px 899px #fff, 613px 22px #fff, 1434px 1153px #fff,
		1233px 1650px #fff, 1584px 1410px #fff, 1378px 429px #fff, 527px 864px #fff,
		1543px 411px #fff, 621px 1690px #fff, 614px 937px #fff, 998px 1708px #fff,
		379px 775px #fff, 1387px 1751px #fff, 770px 733px #fff, 1452px 1978px #fff,
		728px 185px #fff, 1183px 984px #fff, 294px 60px #fff, 838px 1284px #fff,
		167px 761px #fff, 1510px 1280px #fff, 437px 1005px #fff, 555px 340px #fff,
		1673px 603px #fff, 267px 378px #fff, 1320px 1229px #fff, 1504px 1715px #fff,
		1246px 937px #fff, 984px 585px #fff, 1034px 440px #fff, 1415px 107px #fff,
		808px 1808px #fff, 836px 1768px #fff, 225px 398px #fff, 1463px 324px #fff,
		1086px 1130px #fff, 1367px 1048px #fff, 305px 547px #fff, 1660px 442px #fff,
		1787px 61px #fff, 1387px 1402px #fff, 439px 667px #fff, 251px 108px #fff,
		1611px 1367px #fff, 1391px 1987px #fff, 322px 1069px #fff, 1752px 48px #fff,
		984px 1190px #fff, 1849px 520px #fff, 204px 1186px #fff, 708px 1882px #fff,
		163px 1786px #fff, 473px 1318px #fff, 1680px 1150px #fff, 1930px 850px #fff,
		1184px 647px #fff, 687px 1487px #fff, 424px 261px #fff, 1721px 1288px #fff,
		1551px 1912px #fff, 252px 1804px #fff, 1174px 364px #fff, 994px 1288px #fff,
		1739px 116px #fff, 1109px 401px #fff, 1437px 1026px #fff, 1705px 469px #fff,
		493px 1595px #fff, 1967px 824px #fff, 563px 316px #fff, 1826px 346px #fff,
		375px 1772px #fff, 999px 1432px #fff, 957px 1867px #fff, 1251px 162px #fff,
		1781px 381px #fff, 349px 484px #fff, 454px 1871px #fff, 604px 669px #fff,
		1574px 1506px #fff, 391px 1556px #fff, 743px 1330px #fff, 771px 193px #fff,
		1433px 663px #fff, 762px 276px #fff, 522px 1025px #fff, 1317px 163px #fff,
		79px 692px #fff, 1058px 894px #fff, 1955px 1036px #fff, 221px 1366px #fff,
		196px 1426px #fff, 1715px 1514px #fff, 929px 1567px #fff, 426px 148px #fff,
		199px 1838px #fff, 730px 1131px #fff, 173px 1305px #fff, 1260px 723px #fff,
		1868px 1924px #fff, 198px 902px #fff, 68px 153px #fff, 1157px 1278px #fff,
		1359px 1903px #fff, 151px 872px #fff, 47px 270px #fff, 972px 1586px #fff,
		1778px 434px #fff, 336px 1725px #fff, 574px 803px #fff, 1961px 1380px #fff,
		1328px 871px #fff, 143px 79px #fff, 117px 885px #fff, 1912px 1789px #fff,
		347px 863px #fff, 153px 805px #fff, 1230px 789px #fff, 533px 581px #fff,
		205px 1598px #fff, 1900px 1140px #fff, 1915px 473px #fff, 1844px 289px #fff,
		832px 1941px #fff, 1778px 1529px #fff, 910px 623px #fff, 1251px 1167px #fff,
		304px 1206px #fff, 777px 833px #fff, 801px 1075px #fff, 309px 765px #fff,
		285px 1004px #fff, 1524px 651px #fff, 1899px 1827px #fff, 1736px 964px #fff,
		882px 377px #fff, 760px 1853px #fff, 398px 1806px #fff, 935px 629px #fff,
		1303px 1713px #fff, 1701px 890px #fff, 1812px 655px #fff, 526px 1566px #fff,
		1053px 230px #fff, 735px 1003px #fff, 816px 345px #fff, 813px 1950px #fff,
		1593px 915px #fff, 1199px 1603px #fff, 1643px 382px #fff, 1462px 1782px #fff,
		1914px 231px #fff, 159px 1905px #fff, 629px 1806px #fff, 422px 193px #fff,
		1949px 351px #fff, 1812px 1765px #fff, 595px 1315px #fff, 1908px 1850px #fff,
		706px 173px #fff, 142px 331px #fff, 1209px 1180px #fff, 1436px 1108px #fff,
		1908px 1611px #fff, 1595px 724px #fff, 384px 1373px #fff, 357px 874px #fff,
		137px 752px #fff, 1289px 210px #fff, 1840px 1455px #fff, 1156px 1913px #fff,
		210px 925px #fff, 1743px 1689px #fff, 1209px 1369px #fff, 1343px 574px #fff,
		288px 1715px #fff, 256px 1808px #fff, 607px 1569px #fff, 263px 1707px #fff,
		731px 1789px #fff, 1782px 654px #fff, 1272px 301px #fff, 1575px 1276px #fff,
		1133px 1256px #fff, 146px 347px #fff, 1308px 181px #fff, 322px 1248px #fff,
		1479px 388px #fff, 1217px 1790px #fff, 664px 1045px #fff, 1823px 700px #fff,
		960px 539px #fff, 1456px 670px #fff, 1138px 483px #fff, 1653px 1204px #fff,
		293px 320px #fff, 1526px 164px #fff, 756px 364px #fff, 2px 640px #fff,
		1715px 1997px #fff, 1522px 1251px #fff, 1886px 1766px #fff,
		179px 1405px #fff, 1287px 954px #fff, 814px 462px #fff, 727px 1530px #fff,
		609px 263px #fff, 254px 472px #fff, 561px 785px #fff, 135px 838px #fff,
		1997px 1446px #fff, 1575px 104px #fff, 161px 119px #fff, 1362px 108px #fff,
		1080px 547px #fff, 1226px 1671px #fff, 777px 1528px #fff, 1721px 1262px #fff,
		272px 837px #fff, 1094px 1793px #fff, 48px 515px #fff, 1629px 1276px #fff,
		1496px 1096px #fff, 1047px 956px #fff, 353px 712px #fff, 1094px 85px #fff,
		1889px 733px #fff, 1480px 472px #fff, 262px 313px #fff, 1962px 796px #fff,
		1414px 1672px #fff, 1457px 1402px #fff, 866px 426px #fff, 1734px 669px #fff,
		1750px 1552px #fff, 866px 377px #fff, 1497px 595px #fff, 1879px 478px #fff,
		818px 1263px #fff, 1781px 162px #fff, 144px 1978px #fff, 39px 1121px #fff,
		590px 854px #fff, 506px 81px #fff, 261px 1144px #fff, 1376px 1388px #fff,
		27px 47px #fff, 1555px 1521px #fff, 1568px 137px #fff, 1208px 680px #fff,
		958px 1917px #fff, 1197px 1371px #fff, 1123px 1995px #fff, 1734px 917px #fff,
		927px 1339px #fff, 567px 611px #fff, 1463px 1675px #fff, 987px 1327px #fff,
		1663px 919px #fff, 629px 317px #fff, 1160px 927px #fff, 452px 468px #fff,
		1392px 1497px #fff, 120px 781px #fff, 425px 15px #fff, 1360px 1070px #fff,
		1755px 1073px #fff, 1352px 1127px #fff, 1130px 97px #fff, 1310px 446px #fff,
		1219px 726px #fff, 1910px 608px #fff, 339px 195px #fff, 1902px 31px #fff,
		41px 1907px #fff, 1935px 1605px #fff, 1134px 1985px #fff, 754px 570px #fff,
		1866px 1504px #fff, 1933px 853px #fff, 1158px 261px #fff, 593px 1146px #fff,
		372px 532px #fff, 1863px 1114px #fff, 1370px 1108px #fff, 703px 832px #fff,
		185px 695px #fff, 314px 1684px #fff, 224px 1695px #fff, 1689px 1618px #fff,
		905px 1847px #fff, 117px 756px #fff, 1117px 446px #fff, 1065px 1253px #fff,
		449px 299px #fff, 710px 1982px #fff, 1530px 44px #fff, 110px 1648px #fff,
		1264px 1786px #fff, 1702px 1360px #fff, 1196px 1723px #fff,
		1031px 1243px #fff, 68px 1363px #fff, 1110px 1755px #fff, 4px 1967px #fff,
		346px 130px #fff, 1794px 389px #fff, 1168px 1970px #fff, 1191px 1628px #fff,
		1869px 1934px #fff, 348px 351px #fff, 180px 682px #fff, 19px 139px #fff,
		141px 1203px #fff, 847px 190px #fff, 434px 1710px #fff, 1055px 1173px #fff,
		943px 1088px #fff, 978px 1102px #fff, 164px 1868px #fff, 1177px 1663px #fff,
		823px 1603px #fff, 1501px 987px #fff, 896px 1215px #fff, 999px 1199px #fff,
		1617px 694px #fff, 930px 1881px #fff, 647px 763px #fff, 1940px 396px #fff,
		1163px 51px #fff, 1970px 1703px #fff, 1255px 1036px #fff, 498px 1885px #fff,
		1565px 1946px #fff, 277px 1789px #fff, 274px 1305px #fff, 73px 1510px #fff,
		513px 266px #fff, 1474px 864px #fff, 21px 1323px #fff, 614px 914px #fff,
		250px 344px #fff, 1867px 473px #fff, 616px 1822px #fff, 69px 579px #fff,
		1462px 987px #fff, 941px 707px #fff, 501px 1385px #fff, 1728px 968px #fff,
		1540px 514px #fff, 1882px 1550px #fff, 1271px 1675px #fff, 1325px 106px #fff,
		944px 1854px #fff, 967px 1718px #fff, 586px 108px #fff, 504px 1947px #fff,
		761px 1529px #fff, 1451px 1594px #fff, 1325px 1568px #fff, 1371px 975px #fff,
		1463px 526px #fff, 800px 64px #fff, 261px 1231px #fff, 1017px 659px #fff,
		1643px 565px #fff, 1427px 1466px #fff, 244px 1638px #fff, 1854px 969px #fff,
		15px 1812px #fff, 265px 411px #fff, 1267px 1678px #fff, 268px 501px #fff,
		271px 511px #fff, 546px 701px #fff, 1544px 1237px #fff, 1814px 933px #fff,
		1658px 513px #fff, 929px 713px #fff, 829px 24px #fff, 1888px 322px #fff,
		85px 1497px #fff, 1050px 141px #fff, 1699px 120px #fff, 1958px 1617px #fff,
		1537px 1258px #fff, 1116px 1935px #fff, 1758px 1005px #fff,
		427px 1839px #fff, 1148px 1436px #fff, 1139px 1228px #fff, 698px 225px #fff,
		1640px 350px #fff, 1033px 426px #fff, 879px 1444px #fff, 884px 1188px #fff,
		1673px 1146px #fff, 1844px 547px #fff, 600px 1154px #fff, 1518px 1441px #fff,
		354px 1922px #fff, 1454px 1544px #fff, 787px 462px #fff, 1041px 410px #fff,
		406px 1326px #fff, 817px 1733px #fff, 1131px 1px #fff, 905px 223px #fff;
}

#stars2 {
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 1668px 1394px #fff, 381px 238px #fff, 1947px 590px #fff,
		1414px 1957px #fff, 1644px 399px #fff, 1815px 785px #fff, 1806px 1647px #fff,
		1032px 675px #fff, 1463px 1453px #fff, 1669px 425px #fff, 741px 321px #fff,
		879px 1574px #fff, 499px 1171px #fff, 725px 145px #fff, 832px 398px #fff,
		529px 715px #fff, 1645px 920px #fff, 606px 1234px #fff, 649px 134px #fff,
		195px 139px #fff, 1813px 1952px #fff, 962px 791px #fff, 78px 1328px #fff,
		1327px 1589px #fff, 815px 360px #fff, 1537px 1514px #fff, 1098px 1799px #fff,
		43px 966px #fff, 905px 1827px #fff, 621px 524px #fff, 1937px 208px #fff,
		574px 1139px #fff, 95px 1449px #fff, 831px 258px #fff, 368px 577px #fff,
		1005px 1356px #fff, 560px 1686px #fff, 969px 1973px #fff, 8px 280px #fff,
		157px 464px #fff, 1024px 1058px #fff, 357px 1960px #fff, 1908px 1787px #fff,
		505px 1935px #fff, 1595px 1700px #fff, 1600px 1941px #fff, 27px 919px #fff,
		1172px 1085px #fff, 365px 1390px #fff, 779px 1844px #fff, 487px 1533px #fff,
		1011px 129px #fff, 1294px 1447px #fff, 1498px 906px #fff, 1282px 550px #fff,
		1516px 1524px #fff, 1029px 266px #fff, 1736px 932px #fff, 1680px 376px #fff,
		1246px 60px #fff, 1872px 1121px #fff, 108px 1813px #fff, 536px 517px #fff,
		590px 439px #fff, 510px 1762px #fff, 1919px 460px #fff, 81px 802px #fff,
		1559px 222px #fff, 1834px 1783px #fff, 1083px 994px #fff, 127px 1535px #fff,
		1725px 544px #fff, 1968px 42px #fff, 105px 1578px #fff, 1836px 537px #fff,
		618px 1678px #fff, 1034px 574px #fff, 959px 1753px #fff, 1069px 81px #fff,
		1833px 1649px #fff, 1014px 287px #fff, 1066px 1024px #fff, 1054px 940px #fff,
		35px 588px #fff, 727px 1492px #fff, 189px 73px #fff, 623px 1532px #fff,
		1407px 657px #fff, 1799px 460px #fff, 1702px 1538px #fff, 648px 1716px #fff,
		958px 972px #fff, 26px 638px #fff, 876px 39px #fff, 1686px 1586px #fff,
		1938px 1773px #fff, 265px 1589px #fff, 1142px 1399px #fff,
		1757px 1798px #fff, 1992px 575px #fff, 16px 1534px #fff, 1228px 1309px #fff,
		182px 1909px #fff, 1587px 279px #fff, 724px 148px #fff, 1608px 969px #fff,
		1234px 661px #fff, 1801px 1582px #fff, 1675px 1110px #fff, 969px 1483px #fff,
		1731px 498px #fff, 1077px 1826px #fff, 1101px 1797px #fff,
		1608px 1555px #fff, 546px 1536px #fff, 370px 928px #fff, 1776px 528px #fff,
		1997px 72px #fff, 121px 1580px #fff, 1370px 957px #fff, 253px 1532px #fff,
		872px 1156px #fff, 1788px 1018px #fff, 1133px 1512px #fff, 1620px 545px #fff,
		1440px 1030px #fff, 1189px 1714px #fff, 565px 110px #fff, 407px 1116px #fff,
		368px 1824px #fff, 1452px 258px #fff, 1662px 908px #fff, 121px 1393px #fff,
		586px 1437px #fff, 74px 124px #fff, 583px 743px #fff, 635px 791px #fff,
		270px 1006px #fff, 1109px 910px #fff, 1762px 924px #fff, 1123px 1430px #fff,
		1401px 564px #fff, 1845px 5px #fff, 1377px 782px #fff, 987px 76px #fff,
		101px 294px #fff, 1473px 580px #fff, 536px 439px #fff, 515px 1942px #fff,
		1034px 338px #fff, 1105px 181px #fff, 1601px 1491px #fff, 1683px 1399px #fff,
		703px 1584px #fff, 648px 702px #fff, 1672px 238px #fff, 761px 742px #fff,
		1231px 698px #fff, 390px 1610px #fff, 1850px 1411px #fff, 793px 640px #fff,
		797px 1343px #fff, 13px 1216px #fff, 491px 1035px #fff, 1521px 1828px #fff,
		376px 174px #fff, 1236px 278px #fff, 443px 1800px #fff, 192px 1931px #fff,
		458px 1607px #fff, 1516px 699px #fff, 1745px 1578px #fff, 694px 1754px #fff,
		1802px 145px #fff, 1111px 795px #fff, 1907px 618px #fff, 1857px 1601px #fff,
		1349px 1050px #fff, 1270px 1438px #fff, 271px 72px #fff, 485px 1008px #fff,
		1869px 1606px #fff, 667px 1874px #fff, 1745px 1404px #fff, 1863px 724px #fff,
		245px 1372px #fff, 611px 595px #fff, 775px 1651px #fff, 1911px 501px #fff,
		553px 652px #fff, 1148px 360px #fff, 1239px 541px #fff, 1110px 182px #fff,
		2000px 314px #fff, 332px 1672px #fff, 1202px 611px #fff, 1251px 1924px #fff,
		997px 1238px #fff, 357px 1412px #fff, 42px 1057px #fff;
	animation: animStar 100s linear infinite;
}
#stars2:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 1668px 1394px #fff, 381px 238px #fff, 1947px 590px #fff,
		1414px 1957px #fff, 1644px 399px #fff, 1815px 785px #fff, 1806px 1647px #fff,
		1032px 675px #fff, 1463px 1453px #fff, 1669px 425px #fff, 741px 321px #fff,
		879px 1574px #fff, 499px 1171px #fff, 725px 145px #fff, 832px 398px #fff,
		529px 715px #fff, 1645px 920px #fff, 606px 1234px #fff, 649px 134px #fff,
		195px 139px #fff, 1813px 1952px #fff, 962px 791px #fff, 78px 1328px #fff,
		1327px 1589px #fff, 815px 360px #fff, 1537px 1514px #fff, 1098px 1799px #fff,
		43px 966px #fff, 905px 1827px #fff, 621px 524px #fff, 1937px 208px #fff,
		574px 1139px #fff, 95px 1449px #fff, 831px 258px #fff, 368px 577px #fff,
		1005px 1356px #fff, 560px 1686px #fff, 969px 1973px #fff, 8px 280px #fff,
		157px 464px #fff, 1024px 1058px #fff, 357px 1960px #fff, 1908px 1787px #fff,
		505px 1935px #fff, 1595px 1700px #fff, 1600px 1941px #fff, 27px 919px #fff,
		1172px 1085px #fff, 365px 1390px #fff, 779px 1844px #fff, 487px 1533px #fff,
		1011px 129px #fff, 1294px 1447px #fff, 1498px 906px #fff, 1282px 550px #fff,
		1516px 1524px #fff, 1029px 266px #fff, 1736px 932px #fff, 1680px 376px #fff,
		1246px 60px #fff, 1872px 1121px #fff, 108px 1813px #fff, 536px 517px #fff,
		590px 439px #fff, 510px 1762px #fff, 1919px 460px #fff, 81px 802px #fff,
		1559px 222px #fff, 1834px 1783px #fff, 1083px 994px #fff, 127px 1535px #fff,
		1725px 544px #fff, 1968px 42px #fff, 105px 1578px #fff, 1836px 537px #fff,
		618px 1678px #fff, 1034px 574px #fff, 959px 1753px #fff, 1069px 81px #fff,
		1833px 1649px #fff, 1014px 287px #fff, 1066px 1024px #fff, 1054px 940px #fff,
		35px 588px #fff, 727px 1492px #fff, 189px 73px #fff, 623px 1532px #fff,
		1407px 657px #fff, 1799px 460px #fff, 1702px 1538px #fff, 648px 1716px #fff,
		958px 972px #fff, 26px 638px #fff, 876px 39px #fff, 1686px 1586px #fff,
		1938px 1773px #fff, 265px 1589px #fff, 1142px 1399px #fff,
		1757px 1798px #fff, 1992px 575px #fff, 16px 1534px #fff, 1228px 1309px #fff,
		182px 1909px #fff, 1587px 279px #fff, 724px 148px #fff, 1608px 969px #fff,
		1234px 661px #fff, 1801px 1582px #fff, 1675px 1110px #fff, 969px 1483px #fff,
		1731px 498px #fff, 1077px 1826px #fff, 1101px 1797px #fff,
		1608px 1555px #fff, 546px 1536px #fff, 370px 928px #fff, 1776px 528px #fff,
		1997px 72px #fff, 121px 1580px #fff, 1370px 957px #fff, 253px 1532px #fff,
		872px 1156px #fff, 1788px 1018px #fff, 1133px 1512px #fff, 1620px 545px #fff,
		1440px 1030px #fff, 1189px 1714px #fff, 565px 110px #fff, 407px 1116px #fff,
		368px 1824px #fff, 1452px 258px #fff, 1662px 908px #fff, 121px 1393px #fff,
		586px 1437px #fff, 74px 124px #fff, 583px 743px #fff, 635px 791px #fff,
		270px 1006px #fff, 1109px 910px #fff, 1762px 924px #fff, 1123px 1430px #fff,
		1401px 564px #fff, 1845px 5px #fff, 1377px 782px #fff, 987px 76px #fff,
		101px 294px #fff, 1473px 580px #fff, 536px 439px #fff, 515px 1942px #fff,
		1034px 338px #fff, 1105px 181px #fff, 1601px 1491px #fff, 1683px 1399px #fff,
		703px 1584px #fff, 648px 702px #fff, 1672px 238px #fff, 761px 742px #fff,
		1231px 698px #fff, 390px 1610px #fff, 1850px 1411px #fff, 793px 640px #fff,
		797px 1343px #fff, 13px 1216px #fff, 491px 1035px #fff, 1521px 1828px #fff,
		376px 174px #fff, 1236px 278px #fff, 443px 1800px #fff, 192px 1931px #fff,
		458px 1607px #fff, 1516px 699px #fff, 1745px 1578px #fff, 694px 1754px #fff,
		1802px 145px #fff, 1111px 795px #fff, 1907px 618px #fff, 1857px 1601px #fff,
		1349px 1050px #fff, 1270px 1438px #fff, 271px 72px #fff, 485px 1008px #fff,
		1869px 1606px #fff, 667px 1874px #fff, 1745px 1404px #fff, 1863px 724px #fff,
		245px 1372px #fff, 611px 595px #fff, 775px 1651px #fff, 1911px 501px #fff,
		553px 652px #fff, 1148px 360px #fff, 1239px 541px #fff, 1110px 182px #fff,
		2000px 314px #fff, 332px 1672px #fff, 1202px 611px #fff, 1251px 1924px #fff,
		997px 1238px #fff, 357px 1412px #fff, 42px 1057px #fff;
}

#stars3 {
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 790px 1602px #fff, 1227px 1232px #fff, 1589px 500px #fff,
		344px 1380px #fff, 1232px 878px #fff, 1971px 1109px #fff, 1911px 1194px #fff,
		265px 1141px #fff, 1875px 1029px #fff, 1805px 1112px #fff, 1715px 663px #fff,
		413px 1998px #fff, 1107px 16px #fff, 1500px 1815px #fff, 842px 785px #fff,
		247px 147px #fff, 1262px 126px #fff, 1609px 528px #fff, 902px 78px #fff,
		1299px 370px #fff, 895px 1985px #fff, 1749px 33px #fff, 827px 420px #fff,
		1618px 1642px #fff, 1143px 1973px #fff, 1690px 11px #fff, 1248px 1448px #fff,
		1303px 1276px #fff, 71px 607px #fff, 110px 1557px #fff, 1826px 859px #fff,
		253px 869px #fff, 592px 76px #fff, 364px 1604px #fff, 388px 1358px #fff,
		591px 1291px #fff, 533px 1827px #fff, 1573px 1696px #fff, 1120px 482px #fff,
		1011px 1065px #fff, 1206px 319px #fff, 384px 1235px #fff, 44px 718px #fff,
		950px 1387px #fff, 214px 1771px #fff, 404px 77px #fff, 970px 311px #fff,
		980px 1684px #fff, 1678px 1936px #fff, 1549px 301px #fff, 1498px 654px #fff,
		842px 655px #fff, 1523px 1691px #fff, 642px 1191px #fff, 914px 1584px #fff,
		1947px 1167px #fff, 1567px 357px #fff, 1500px 1050px #fff, 301px 70px #fff,
		525px 23px #fff, 1687px 309px #fff, 1922px 1911px #fff, 1322px 1515px #fff,
		706px 764px #fff, 1815px 1506px #fff, 114px 1289px #fff, 1533px 733px #fff,
		753px 1853px #fff, 64px 630px #fff, 1635px 1588px #fff, 1685px 1540px #fff,
		914px 1762px #fff, 380px 1583px #fff, 724px 131px #fff, 1049px 879px #fff,
		1672px 144px #fff, 1210px 1645px #fff, 406px 440px #fff, 1276px 1926px #fff,
		1709px 1473px #fff, 218px 1987px #fff, 668px 1100px #fff, 1396px 1230px #fff,
		1004px 457px #fff, 1715px 1646px #fff, 220px 129px #fff, 329px 1734px #fff,
		247px 1294px #fff, 1069px 5px #fff, 1056px 726px #fff, 1961px 251px #fff,
		1862px 1302px #fff, 1015px 1350px #fff, 1960px 45px #fff, 947px 666px #fff,
		1012px 1586px #fff, 511px 616px #fff, 79px 790px #fff, 17px 1424px #fff,
		1201px 322px #fff;
	animation: animStar 150s linear infinite;
}
#stars3:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 790px 1602px #fff, 1227px 1232px #fff, 1589px 500px #fff,
		344px 1380px #fff, 1232px 878px #fff, 1971px 1109px #fff, 1911px 1194px #fff,
		265px 1141px #fff, 1875px 1029px #fff, 1805px 1112px #fff, 1715px 663px #fff,
		413px 1998px #fff, 1107px 16px #fff, 1500px 1815px #fff, 842px 785px #fff,
		247px 147px #fff, 1262px 126px #fff, 1609px 528px #fff, 902px 78px #fff,
		1299px 370px #fff, 895px 1985px #fff, 1749px 33px #fff, 827px 420px #fff,
		1618px 1642px #fff, 1143px 1973px #fff, 1690px 11px #fff, 1248px 1448px #fff,
		1303px 1276px #fff, 71px 607px #fff, 110px 1557px #fff, 1826px 859px #fff,
		253px 869px #fff, 592px 76px #fff, 364px 1604px #fff, 388px 1358px #fff,
		591px 1291px #fff, 533px 1827px #fff, 1573px 1696px #fff, 1120px 482px #fff,
		1011px 1065px #fff, 1206px 319px #fff, 384px 1235px #fff, 44px 718px #fff,
		950px 1387px #fff, 214px 1771px #fff, 404px 77px #fff, 970px 311px #fff,
		980px 1684px #fff, 1678px 1936px #fff, 1549px 301px #fff, 1498px 654px #fff,
		842px 655px #fff, 1523px 1691px #fff, 642px 1191px #fff, 914px 1584px #fff,
		1947px 1167px #fff, 1567px 357px #fff, 1500px 1050px #fff, 301px 70px #fff,
		525px 23px #fff, 1687px 309px #fff, 1922px 1911px #fff, 1322px 1515px #fff,
		706px 764px #fff, 1815px 1506px #fff, 114px 1289px #fff, 1533px 733px #fff,
		753px 1853px #fff, 64px 630px #fff, 1635px 1588px #fff, 1685px 1540px #fff,
		914px 1762px #fff, 380px 1583px #fff, 724px 131px #fff, 1049px 879px #fff,
		1672px 144px #fff, 1210px 1645px #fff, 406px 440px #fff, 1276px 1926px #fff,
		1709px 1473px #fff, 218px 1987px #fff, 668px 1100px #fff, 1396px 1230px #fff,
		1004px 457px #fff, 1715px 1646px #fff, 220px 129px #fff, 329px 1734px #fff,
		247px 1294px #fff, 1069px 5px #fff, 1056px 726px #fff, 1961px 251px #fff,
		1862px 1302px #fff, 1015px 1350px #fff, 1960px 45px #fff, 947px 666px #fff,
		1012px 1586px #fff, 511px 616px #fff, 79px 790px #fff, 17px 1424px #fff,
		1201px 322px #fff;
}

@keyframes animStar {
	from {
		transform: translateY(-2000px);
	}
	to {
		transform: translateY(0px);
	}
}
