.countDown-container {
	padding-top: 2vh;
	position: relative;
	color: #b5b5b6;
	display: "block";
	box-sizing: border-box;
	margin: auto;
}

@media screen and (max-width: 1060px) {
	.countDown-container {
		padding-top: 2vh;
	}
}

.animated-button-container {
	width: 150px;
}

.animated-button {
	width: 100px;
	height: 100px;
}

@media screen and (max-width: 900px) {
	.animated-button {
		width: 150px;
	}
	.animated-link {
		font-size: x-large;
		text-align: center;
	}
}

.farm-container {
	flex-direction: row;
}

@media screen and (max-width: 1050px) {
	.farm-container {
		flex-direction: column;
	}
}

.farm-container-sm {
	flex-direction: row;
}

@media screen and (max-width: 900px) {
	.farm-container-sm {
		flex-direction: column;
		column-gap: 0.5rem;
	}
}
.flowchart-container {
	width: 100%;
	height: 100%;
}
@media screen and (max-width: 900px) {
	.flowchart-container {
		width: 80%;
	}
}

.border-container {
	flex-direction: row;
	min-height: 300px;
	margin-top: 25px;
}

.border-container2 {
	flex-direction: row;
	min-height: 300px;
	margin-top: 10px;
	top: 10px;
	position: relative;
}

@media screen and (max-width: 900px) {
	.border-container {
		flex-direction: column;
		height: auto;
	}
}

.launchpad-container {
	flex-direction: row;
}

@media screen and (max-width: 680px) {
	.launchpad-container {
		flex-direction: column;
	}
}
.launchpad-container-sm {
	flex-direction: row;
}

@media screen and (max-width: 1430px) {
	.launchpad-container-sm {
		flex-direction: column;
	}
}

.text-tab {
	width: 50%;
}

@media screen and (max-width: 900px) {
	.text-tab {
		width: 100%;
	}
}

.countDown-box {
	justify-content: center;
	display: flex;
	padding: 0 1.3vh 1.5vh;
	align-items: center;
}

.countDown-number {
	flex-basis: 70px;
	justify-content: center;
}

.countDown-number-1 {
	flex-direction: row;
	color: #b5b5b6;
	color: white;
	color: white;
	color: var(--accent-color, white);
	width: 75px;
	height: 75px;
	border-radius: 5px;
	background-color: hsla(0, 0%, 82.7%, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	margin: 20px 10px 0px 10px;
}

.countDown-number-2 {
	display: flex;
	justify-content: center;
	font-size: 15px;
	padding-top: 5px;
}

.seperator {
	margin: 0px 5px 10px 5px;
	font-size: 30px;
	color: #eb5c20;
}

.button {
	padding: 17px 0 17px 0;
	height: 50px;
	background: #e91e63;
	color: #fff;
	position: relative;
	text-align: center;
	cursor: pointer;
	border: 0;
	margin: 13px auto 12px auto;
	display: block;
	width: 100%;
	max-width: 240px;
}

.outline {
	background: 0 0;
	border: 2px solid #e91e63;
	padding: 15px 0 15px 0;
}

a.animated-button.thar-three {
	color: #fff;
	cursor: pointer;
	display: flex;
	position: relative;
	border: 3px solid #eb5c20;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	justify-content: center;
	align-items: center;
}
a.animated-button.thar-three:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nthree;
}
a.animated-button.thar-three:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
a.animated-button.thar-three:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: "";
	color: #000 !important;
	background: #eb5c20;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.animated-button {
	width: 167px;
	height: 43px;
	text-align: start;
}

.arrow {
	position: relative;
	/* top: 75%; */
	/* left: 50%; */
	/* transform: translate(-50%,-50%); */
	fill: lighten(black, 10);
	border: 3px solid lighten(black, 10);
	/* border-radius: 50%; */
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width: 640px) {
	/* Styles */
	.video-container {
		height: 30vw !important;
	}
}
/* Above than that */
@media only screen and (min-device-width: 641px) {
	/* Styles */
	.video-container {
		height: 20vw;
	}
}

/* Exchange text */
.exchange-title {
	font-weight: bold;
	text-align: center;
}
.exchange-content {
	text-align: left;
	line-height: 1.8;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width: 640px) {
	/* Styles */
	.exchange-title {
		font-size: 1.75rem;
	}
	.exchange-content {
		font-size: 0.625rem;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
	/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
	/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 640px) and (max-device-width: 1224px) {
	/* Styles */
	.exchange-title {
		font-size: 1.25rem;
	}
	.exchange-content {
		font-size: 0.625rem;
	}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
	/* Styles */
	.exchange-title {
		font-size: 1.75rem;
	}
	.exchange-content {
		font-size: 0.75rem;
	}
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
	/* Styles */
	.exchange-title {
		font-size: 2.5rem;
	}
	.exchange-content {
		font-size: 1.25rem;
	}
}


/* space loader */


.spaceloader {

	background-color: #000;
 overflow: hidden;
 text-align:center;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.spaceloader,
.spacehead {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
}

svg {
 width:100%;
 height: 100%;
 visibility: hidden;
 
}
