@keyframes shake {
  0% {
    padding-left: 0;
  }
  50% {
    padding-left: 10px;
  }
  100% {
    padding-left: 0px;
  }
}

@keyframes shakeTR {
  0% {
    top: 10px;
    right: 10px;
  }
  50% {
    top: 5px;
    right: 5px;
  }
  100% {
    top: 10px;
    right: 10px;
  }
}

@keyframes shakeTD {
  0% {
    margin-top: 0px;
  }
  33% {
    margin-top: -10px;
  }
  66% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0px;
  }
}

.moveTDOnHover {
  margin-top: 0;
}
.moveTDOnHover:hover {
  animation: shakeTD 0.5s;
}

.moveLROnHover {
  padding-left: 0;
}
.moveLROnHover:hover {
  animation: shake 0.5s;
}

.moveTopRightOnHover img {
  top: 10px;
  right: 10px;
}

.moveTopRightOnHover:hover img {
  animation: shakeTR 0.5s;
}

.rotateOnHover {
  transition: transform 1s;
  transform: rotateZ(0deg);
}

.rotateOnHover:hover {
  transform: rotateZ(30deg);
}

.rotateOnHover:active {
  transform: rotateZ(360deg);
}
