@keyframes expand {
  10% {
    r: 0;
  }
  20% {
    r: 40;
  }
  100% {
    r: 40;
  }
}

.myCircle {
  animation: expand 6s ease infinite;
  animation-fill-mode: forwards;
}

.coin circle {
  fill: #757579;
  stroke-width: 0px;
}

.coin text {
  stroke: white;
  stroke-width: 1px;
  fill: white;
}

@keyframes showAndHide {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes highlightOnEnd {
  0% {
    font-weight: auto;
    font-size: 14px;
  }
  20% {
    font-weight: auto;
    font-size: 14px;
  }
  25% {
    font-weight: bold;
    font-size: 20px;
  }
  30% {
    font-weight: auto;
    font-size: 14px;
  }
  100% {
    font-weight: auto;
    font-size: 14px;
  }
}

.ratios {
  color: #ea5c1f;
  border-radius: 3px;
  padding: 2px;
  min-width: 30px;
  text-align: center;
  animation: highlightOnEnd 8.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.ratios.id-1 {
  color: #70ba33;
}

.ratios.id-3 {
  color: #e29227 !important;
}

#algo_title {
  color: white;
  animation: showAndHide 8.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.banner{
  flex-direction: column;
  color: var(--accent-color, white);
  width: 50%;
  height: 467px;
  border-radius: 5px;
  background-color: #151518;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  /* margin: 20px 10px 0px 10px; */
  /* background-image: linear-gradient(#2e3032 0.0009999999999994458em, transparent 0.05em), linear-gradient(90deg, #2e3032 0.0009999999999994458em, transparent 0.05em); */
  text-align: center;
}

.animatelabel {
  color:white;
  font-size: 2px;
  width: 100px !important;
  text-align: center;
  padding-bottom: 10px;
}

.animatebutton {
  display: flex;
  flex-direction: column;
  background-color: #29292C;
  border-radius: 5px;
  align-items: center;

}

.animatebar{
  display: flex;
  width: 900px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.bannerTitle{
  font-size: 2em;
  z-index: 100;
  position: sticky;
}

.HeadNoBar {
  position: absolute;
  width: 90%;
  /* z-index: 30; */
  /* position: relative; */
  background-size: cover;
  background-position: 50% 0;
  transition: background-color .3s,opacity .3s;
  display: flex;
  justify-content: space-between;

}
.NeuroBar{
    /* display: flow-root; */
    position: relative;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 380px;
}
.positionadjust {
  position: relative;
  top: -230px;
  left: -212px;
}